{% extends "bootstrap_base.html" %}

{% block title %}
抽奖程序
{% endblock title %}
{% block style_navbar_padding %}
<style>
body {
  background: #222;
}
h1 {
  color: white;
  margin-top: 50px;
}
#top-nav {
  text-align: center;
  margin-bottom: 50px;
}
#top-nav li{
  float: none;
  display: inline-block;
}

#oknum {
  font-size: 100px;
  font-weight: bold;
  width: 80%;
  text-align: center;
  background: transparent;
  border: none;
  color: white;
}
#icon1,
#icon2,
#icon3 {
  height: 60px;
  margin-left: 20px;
  float: left;
}
#icon1 {
  margin-top: -10px;
  height: 100px;
  float: left;
}
#icon3 {
  margin-top: 20px;
  height: 30px;
  float: right;
}
#icons {
  margin-top: 30px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  background: transparent;
  color: white;
}
.nav-tabs>li>a {
  color: #666;
}
</style>
{% endblock style_navbar_padding%}
{% block body %}
<div class="container" >
  <div style="text-align:center;padding-bottom:40px;">
    <h1>“搜狗杯”智能体大赛现场总决赛 观众抽奖</h1>
  </div>
  <div style="font-size:22px;">
    <ul class="nav nav-tabs" style="" id="top-nav">
      <li id="p0" class="active">
        <a href="#">Round 1(I)</a>
      </li>
      <li id="p1"><a href="#">Round 1(II)</a></li>
      <li id="p2"><a href="#">Round 1(III)</a></li>
      <li id="p3"><a href="#">Round 2(I)</a></li>
      <li id="p4"><a href="#">Round 2(II)</a></li>
      <li id="p5"><a href="#">Round 2(III)</a></li>
    </ul>
  </div>
  <div class="row">
    <div style="width:60%;float:left;padding-right:20px;">
      <div align="center" style="padding:10px 0px 0px 0px;flaot:left;">
        <img id="show-img1" src="static/img/1st/31.jpg" width="250pt" class="img-circle">
        <img id="show-img2" src="static/img/1st/32.jpg" width="250pt" class="img-circle">
        <img id="show-img3" src="" width="300pt" class="img-circle" hidden>
      </div>
    </div>
    <div style="width:40%;padding:80px 25px;float:right;">
      <div>
        <input type="text" id="oknum" name="oknum" value="000" disabled="disabled"/>
      </div>
    </div>
  </div>
  <div class="row" id="icons">
    <img src="static/img/b.png" id="icon2">
    <img src="static/img/a.png" id="icon1">
    <img src="static/img/c.png" id="icon3">
  </div>
</div>

<script>
var alldataarr = [], max_num = 100;
for (var i = 1; i <= max_num; ++i)
alldataarr.push(pad(i, 3));
var timer, result = true;
function change(){
  $('#oknum').val(alldataarr[GetRnd(0,alldataarr.length)]);
}
function start(){
  clearInterval(timer);
  if (result == true) {
    timer = setInterval('change()', 30);
    $.ajax({ url: '/random/' + max_num, success: function(data) {
      result = data;
    }});
  } else {
    $('#oknum').val(result);
    result = true;
  }
}
function GetRnd(min, max){
  return parseInt(Math.random()*(max-min));
}
function pad(num, n) {
  var len = num.toString().length;
  while(len < n) {
    num = "0" + num;
    len++;
  }  
  return num;
}

$("li").click(function() {
  var id = $(this).attr("id");
  for (var i = 0; i <= 5; ++i)
    $('#p'+i).attr('class', '');
  $('#'+id).attr('class', 'active');
  var img1 = $('#show-img1');
  var img2 = $('#show-img2');
  var img3 = $('#show-img3');
  if (id == 'p0') {
    img1.attr('src', 'static/img/1st/31.jpg');
    img1.attr('width', '250pt');
    img1.show();
    img2.attr('src', 'static/img/1st/32.jpg');
    img2.attr('width', '250pt');
    img2.show();
    img3.hide();
  } else if (id == 'p1') {
    img1.attr('src', 'static/img/1st/2.jpg');
    img1.attr('width', '400pt');
    img1.show();
    img2.hide();
    img3.hide();
  } else if (id == 'p2') {
    img1.attr('src', 'static/img/1st/1.jpg');
    img1.attr('width', '300pt');
    img1.show();
    img2.hide();
    img3.hide();
  } else if (id == 'p3') {
    img1.attr('src', 'static/img/2nd/31.jpg');
    img1.attr('width', '190pt');
    img1.show();
    img2.attr('src', 'static/img/2nd/32.jpg');
    img2.attr('width', '190pt');
    img2.show();
    img3.attr('src', 'static/img/2nd/33.jpg');
    img3.attr('width', '190pt');
    img3.show();
  } else if (id == 'p4') {
    img1.attr('src', 'static/img/2nd/2.jpg');
    img1.attr('width', '300pt');
    img1.show();
    img2.hide();
    img3.hide();
  } else if (id == 'p5') {
    img1.attr('src', 'static/img/2nd/1.jpg');
    img1.attr('width', '300pt');
    img1.show();
    img2.hide();
    img3.hide();
  }
});

$('body').on('keyup', function(e) {
  if (e.keyCode == 32) {
    start();
  }
});


</script>

{% endblock body %}

